doctype html
html(lang='pt-br', class="no-js")

  head(itemscope itemtype="http://schema.org/WebSite")
    include .././inc/general/head.pug

  body
    include ../../source/icon/svg/symbols.svg
    block view
    include .././inc/general/foot.pug
