@function rem($pixels, $context: 16)
  @if (unitless($pixels))
    $pixels: $pixels * 1px
  @if (unitless($context))
    $context: $context * 1px;
  @return $pixels / $context * 1rem

=flex-display($display: flex)
	display: $display

=flex-direction($direction: row)
	flex-direction: $direction

=justify-content($justify: flex-start)
	justify-content: $justify

=align-items($align: stretch)
	align-items: $align

=flex($f-direction, $f-justify, $f-items)
	+flex-display
	+flex-direction($f-direction)
	+justify-content($f-justify)
	+align-items($f-items)