body
  font-family: $font-family
  font-size: 16px

.container
  +margin(null auto)
  max-width: rem(1140)
  +padding(null modular-scale(1))

// ****************************************************************************************************
// ****************************************************************************************************
// ****************************************************************************************************
// ****************************************************************************************************

.hello-world
  +flex(row, flex-start, center)
  h1
    font-size: modular-scale(4)
  svg
    fill: purple
    +size(rem(30))
    +sm
      fill: green
    +md
      fill: blue
    +lg
      fill: red
